@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body{
    background-color:rgb(188, 241, 240);
    align-items: center; 
    justify-content: center;
  }
  /* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    margin:20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 20%;
     
  }
  .container img{
    width: 600px;
    height: 700px
  }
  .container .form-item{
    display:table-row;
    justify-content: center;
    padding: 20px;
  }
  .container .form-item .name,
  .container .form-item .email,
  .container .form-item .password  ,
  .container .form-item .re-password  ,
  .container .form-item .registerbtn,
  .container .form-item .signin 
  {
    align-items: center;
    margin: 10px auto;

  }

  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 500px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
    background-color: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
 
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 500px;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
/* p{
  text-align: center;
  font-size:14px ;
  font-family:'Montserrat',sans-serif ;
} */

/* Footer  */
#footer {
	background-color:rgba(61, 61, 61, 0.527);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: rgb(0, 0, 0);
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer




 