@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body{
    background-color:rgb(88, 241, 240); 
    font-family: 'Poppins', sans-serif;
  }
/* 
Team Members */
  .wrapper{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .wrapper h1{
    font-family: 'Poppins', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 600;
  }
  
  .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .team .team_member{
    background: rgb(248, 179, 179);
    margin: 20px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #000000;  
    position: relative;
  }
  
  .team .team_member h3{
    color: #070707;
    font-size: 26px;
    margin-top: 50px;
  }
  
  .team .team_member p.role{
    color: rgb(139, 5, 5);
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .team .team_member .team_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
  }
  
  .team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
  }
  

  /* Services */

.services {
	
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0px;
    margin-bottom:20px;
}

.services .service-item {
	text-align: center;
}

.services .service-item .icon {
	background-color: #f7f7f7;
	padding: 40px;
}

.services .service-item .icon i {
	width: 100px;
	height: 100px;
	display: inline-block;
	text-align: center;
	line-height: 100px;
	background-color: #f33f3f;
	color: #fff;
	font-size: 32px;
}

.services .service-item .down-content {
	background-color: #fff;
	padding: 40px 30px;
}

.services .service-item .down-content h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 20px;
}

.services .service-item .down-content p {
	margin-bottom: 25px;
}
.services .service-item .down-content a
{
text-decoration: none;
color: black;
font-size: 18px;
}
.services .service-item .down-content a  span
{
    background-color: #ff696e;
    padding: 10px;
    border:#ff696e solid 0.5px ; 
}


